<configuration>
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>
	<timestamp key="timestamp" datePattern="yyyyMMddHHmmss"/>
	
	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
	      <file>./logs/log_${timestamp}.txt</file>
	      <append>true</append>
	      <encoder>
	         <pattern>%msg%n</pattern>
	      </encoder>
	</appender>
	
	<root level="INFO">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>